{%extends 'base_template.html'%}
{%block content%}
<div class="row" id="post_list">
  {%for post in object_list %}
  <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4">
    <div class="vcenter" style="box-shadow: 1px 1px 1px 1px #888888;">
      <div class="card" style="padding:20px;">
        <div class="card-block">
          <h5 class="card-title"><a href="{%url 'post_detail' post.id %}">{{post.post_title}}</a><span id=like_{{post.id}} class="pull-right glyphicon glyphicon-heart-empty"></span><br><small class="text-muted"> By {{post.user}} <span>on</span> {{post.created_at}}</small></h5>
          <p class="card-text">
            <a href="{%url 'post_detail' post.id %}" class="btn btn-default">Read More</a>
            <span class="pull-right">
              <a type="button"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" id=det_{{post.id}}>
                <span class="text-muted">{{post.likes}}</span>
                <span class="text-muted">Like  </span>
                <span class="text-muted">{{post.comments}}</span><span class="text-muted">  Comment</span>
              </a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Commented by</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <ul class="list-group msg-list">

          </ul>
        </div>
        <form class="form"  method="post" id="comment-form">
          {% csrf_token %}
          {%for f in form%}
          <div class="form-group">
            {{f}}
          </div>
          {%endfor%}
          <input type="submit" name="name" value="Comment" class="btn btn-primary" id="post_submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <a href="{%url 'post'%}" class="btn btn-success">Create Post</a>
</div>
<style media="screen">
.vcenter {
  margin: 15px 0px;
}
</style>
<script type="text/javascript">
$(function() {
    // When we're using HTTPS, use WSS too.
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    // var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);
    var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);
    console.log(ws_scheme + '://' + window.location.host + window.location.pathname);
    chatsock.onmessage = function(message) {
      console.log(message);
        var data = JSON.parse(message.data);
        // console.log(data);
        var chat = $("#post_list")
        var ele = $("<div class='col-xs-12 col-sm-12 col-md-offset-4 col-md-4'></div>");
        ele.append($("<div class='vcenter' style='box-shadow: 1px 1px 1px 1px #888888;'><div class='card' style='padding:20px;'><div class='card-block'><h5 class='card-title'><a href= /post_detail/"+ data.id + "> " + data.title + " </a><br><small class='text-muted'> By " + data.user + "<span>on </span> " +  data.created + "</small></h5><p class='card-text'><a href= /post_detail/"+ data.id  + " class='btn btn-default'>Read More</a></p></div></div>"));
        // ele.append(
        //   $("<h4 class='card-title'><a href= /post_detail/"+ data.id + "> " + data.title + " </a><br><small class='text-muted'> By " + data.user + "<span>on </span> " +  data.created + "</small></h4>"));
        // ele.append(
        //   $("<p class='card-text'><a href= /post_detail/"+ data.id  + " class='btn btn-default'>Read More</a></p>"));
        chat.append(ele)
    };
//     chatsock.onopen = function() {
//     chatsock.send("hello world");
// }
// // Call onopen directly if socket is already open
// if (chatsock.readyState == WebSocket.OPEN) chatsock.onopen();

});
$('[id^="like_"]').on('click', function(event){
  $(this).toggleClass("glyphicon-heart-empty glyphicon-heart");
   //you can list several class names
});
var x
$('[id^="det_"]').on('click', function(event){
  $(".msg-list").empty();
  if ($('#exampleModal').hasClass('in')) {

  }
   x = (this.id).split("_")[1];
  console.log(x)
  $("#comment-form").append($('<input type="hidden" name="post_id" value='+x+'>'))
  console.log("hey yeh");
  $.ajax({
  			    url: "{% url 'comments'  %}",
            type: 'GET',
            data: {'id' : x},
  			    success: function(data) {
              console.log(data);
              console.log(data);
              console.log(data.user_id);
              console.log(data.post_comment);
              console.log(data.post_comment.length);
              for(i in data.user_id){
                console.log(i);
                var $row = $('<li class="list-group-item">'+ data.post_comment[i] + '<small class="text-muted"><span class="pull-right"><strong>By </strong><a href="#">'+ data.user_id[i] + '</a></span></small></li>');
                $('.msg-list').append($row);
              }
              },
              error: function(data) {
                console.log(data);
                        alert('There some problem! try again later!');
                    }
            });
});
$('#comment-form').on('submit', function(event){
  var x = {{post_detail.id}}
  $('#post_submit').prop('disabled',true)
console.log($('#p_com').val());
  $.ajax({
  			    url: '/user_comment/',
            type: $(this).attr('method'),
            data: $(this).serialize(),
  			    success: function(data) {
              console.log(data);
              var $row = $('<li class="list-group-item">'+ $('#p_com').val()  + '<small class="text-muted"><span class="pull-right"><strong>By </strong><a href="#">You</a></span></small></li>');
              $('.msg-list').append($row);
              $('#post_submit').prop('disabled',false)
              $('#p_com').val('')
              },
              error: function(data) {
                $('#post_submit').prop('disabled',false)
                console.log(data);
                        alert('There some problem! try again later!');
                    }
            });
            return false;
});
</script>
{%endblock%}
