{%extends 'base_template.html'%}
{%block content%}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-4">
    {% if form.errors %}
    <div class="list-group">
      <li class="list-group-item alert alert-danger"><p>Your username and password didn't match. Please try again.</p></li>
    </div>
    {% endif %}
    {% if form.help_text %}
    <span class="help">{{ form.help_text|safe }}</span>
    {% endif %}
    <form class="form" method="post">
      {%csrf_token%}
      {%for f in form%}
      <div class="form-group">
        <div class="input-group">

          {% if forloop.counter == 1 %}
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
          {% endif %}
          {% if forloop.counter == 2 %}
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
          {% endif %}
          {{f}}
        </div>
      </div>
      {%endfor%}
      <input type="submit" value="Login" class="btn btn-default">
    </form>
  </div>
</div>
{%endblock%}
