{%extends 'base_template.html'%}
{%block content%}
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="jumbotron">
      <div class="row text-center">
        <h1>{{post_detail.post_title}}</h1>
      </div>
      <hr>
      <div class="text-center" style="padding:10px;">
        <p>
          {{post_detail.post_text}}
        </p>
      </div>
      <div class="">
        <ul class="list-group msg-list">
          {%for com in comments%}
          <li class="list-group-item">{{com.post_comment}}</i>
            <small class="text-muted"><span class="pull-right"><strong>By </strong><a href="#">{{com.user_id}}</a></span></small>
          </li>
          {%endfor%}
        </ul>
      </div>
      <form class="form"  method="post" id="comment-form">
        {% csrf_token %}
        {%for f in form%}
        <div class="col-md-10 col-sm-8 col-xs-12">
          <div class="form-group">
            <input type="hidden" name="post_id" value="{{ post_detail.id }}">
            {{f}}
          </div>
        </div>
        {%endfor%}
        <div class="col-md-1 col-sm-2">
          <input type="submit" name="name" value="Comment" class="btn btn-primary" id="post_submit">
        </div>
      </form>
    </div>
  </div>
</div>
<style media="screen">
.list-group-item{
margin-top: 10px;
overflow-wrap: break-word;
}
.list-group-item:nth-child(even) {
  background-color: #f5f5f5;
}

</style>
<script type="text/javascript">
$('#comment-form').on('submit', function(event){
  var x = {{post_detail.id}}
  $('#post_submit').prop('disabled',true)
console.log($('#p_com').val());
  $.ajax({
  			    url: '/user_comment/',
            type: $(this).attr('method'),
            data: $(this).serialize(),
  			    success: function(data) {
              console.log(data);
              // var $row = $('<li class="list-group-item">'+$("#p_com").val() + '<small class="text-muted"><span class="pull-right"><strong>By </strong><a href="#">you </a></span></small></li>');
              // // $row+=$('<small class="text-muted"><span class="pull-right"><strong>By </strong><a href="#">' + {{com.user_id}}+ '</a></span></small>')
              // $('.msg-list').append($row);
              $('#post_submit').prop('disabled',false)
              $('#p_com').val('')
              },
              error: function(data) {
                $('#post_submit').prop('disabled',false)
                console.log(data);
                        alert('There some problem! try again later!');
                    }
            });
            return false;
});
$(function() {
    // When we're using HTTPS, use WSS too.
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    // var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);
    var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);
    console.log(ws_scheme + '://' + window.location.host + window.location.pathname);
    chatsock.onmessage = function(message) {
      console.log(message);
        var data = JSON.parse(message.data);
        console.log(data);
        var $row = $('<li class="list-group-item"> '+ data.post_comment + ' <small class="text-muted"><span class="pull-right"><strong>By </strong><a href="#">'+ data.user_id +'</a></span></small></li>');
        // $row+=$('<small class="text-muted"><span class="pull-right"><strong>By </strong><a href="#">' + {{com.user_id}}+ '</a></span></small>')
        $('.msg-list').append($row);
    };
//     chatsock.onopen = function() {
//     chatsock.send("hello world");
// }
// // Call onopen directly if socket is already open
// if (chatsock.readyState == WebSocket.OPEN) chatsock.onopen();

});
</script>
{%endblock%}
