{% extends "base_template.html" %}

{% block content %}
  <h1>Django Channels Example</h1>
  <p class="deck">

  </p>
  <div class="row text-center">
    <p>
      <a class="btn btn-primary" href="{% url 'channel_app:new_room' %}">Create new chat room</a>
    </p>
    <p class="quiet">
      Or, you can visit <code>{{ request.scheme }}://{{ request.get_host }}/any-path-you-want</code>
      to create a arbitrary room or join one whose name you know.
    </p>
  </div>
{% endblock content %}
