{% extends "base_template.html" %}

{% block content %}
  {% load staticfiles %}
  <h1>{{ room.label }}</h1>
  <p class="quiet">
    Anyone with this URL can join the room and chat:
    <code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code>
  </p>
  <p>
    <label for="handle">Your name:</label>
    <input id="handle" type="text" placeholder="handle" required="true">
  </p>
  <div class="row">
    <form id="chatform">
      <table id="chat" class="table table-responsive">
        <tbody>
          {% for message in messages %}
          <tr>
            <td>{{ message.formatted_timestamp }}</td>
            <td>{{ message.handle }}</td>
            <td>{{ message.message }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td>Say something:</td>
            <td colspan=2>
              <input id="message" type="text" placeholder="message">
              <button type="submit" id="go">Say it</button>
            </td>
          </tfoot>
        </table>
      </form>
  </div>
  <script type="text/javascript">
//   $(function() {
//   // When we're using HTTPS, use WSS too.
//   var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
//   console.log(window.location.host);
//   console.log(window.location.pathname);
//   console.log(ws_scheme + '://' + window.location.host + window.location.pathname);
//   var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);
//   console.log(chatsock);
//   chatsock.onopen = function open() {
//     console.log('WebSockets connection created.');
//   };
//
//   chatsock.onmessage = function(message) {
//       var data = JSON.parse(message.data);
//       var chat = $("#chat")
//       var ele = $('<tr></tr>')
//
//       ele.append(
//           $("<td></td>").text(data.timestamp)
//       )
//       ele.append(
//           $("<td></td>").text(data.handle)
//       )
//       ele.append(
//           $("<td></td>").text(data.message)
//       )
//
//       chat.append(ele)
//   };
//
//   $("#chatform").on("submit", function(event) {
//       var message = {
//           handle: $('#handle').val(),
//           message: $('#message').val(),
//       }
//       chatsock.send(JSON.stringify(message));
//       $("#message").val('').focus();
//       return false;
//   });
// });
$(function() {
    // When we're using HTTPS, use WSS too.
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    // var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);
    var chatsock = new ReconnectingWebSocket('ws://' + window.location.host + window.location.pathname);
    console.log(ws_scheme + '://' + window.location.host + window.location.pathname);
    chatsock.onmessage = function(message) {
      console.log(message);
        var data = JSON.parse(message.data);
        var chat = $("#chat")
        var ele = $('<tr></tr>')

        ele.append(
            $("<td></td>").text(data.timestamp)
        )
        ele.append(
            $("<td></td>").text(data.handle)
        )
        ele.append(
            $("<td></td>").text(data.message)
        )

        chat.append(ele)
    };
//     chatsock.onopen = function() {
//     chatsock.send("hello world");
// }
// // Call onopen directly if socket is already open
// if (chatsock.readyState == WebSocket.OPEN) chatsock.onopen();

    $("#chatform").on("submit", function(event) {
        var message = {
            handle: $('#handle').val(),
            message: $('#message').val(),
        }
        console.log(message);
        chatsock.send(JSON.stringify(message));
        $("#message").val('').focus();
        return false;
    });
});
</script>
{% endblock content %}
